{% extends "base.html" %}
{% block styles %}
<style>
.rating_star{
		 background: url('/media/images/star_empty.png') no-repeat;
		 float:	    left;
		 height:    28px;
		 padding: 	2px;
		 width:		32px;
}

.ratings_vote{
		 background:url('/media/images/star_full.png') no-repeat;
}

.ratings_over{
		 background: url('/media/images/star_highlight.png') no-repeat;
}


/* #rating{
		position: absolute;
		top:  620px;
		left: 200px;

} */

.rating_widget{
		 border:   0px solid #CCC;
		 overflow: visible;
		 padding:  0px;
		 position: relative;
		 width:    180px;
		 height:   32px;
}

.total_votes{
		 background: #EAEAEA
		 top:        58px;
		 left:       0;
		 padding:    5px;
		 position:   absolute;
}

.CtrObj{
		height: 650px;	
		width:	900px;
		padding: 50px 50px;
}
</style>
{% endblock %}
{% block scripts %}
<script>
var currentHumor = new Object();
init();

function init(){
	currentHumor.id = {{ humorContent.id }};
	currentHumor.url = '{{ humorContent.url }}';
	currentHumor.title = '{{ humorContent.title }}';
	currentHumor.created = '{{ humorContent.created }}';
}

function showNext() {
	$.get('getNextHumor', {id : currentHumor.id}, function(result) {
			currentHumor.id = result.id;
			currentHumor.url = result.url;
			currentHumor.title = result.title;
			$('img#humorContent').attr('src', currentHumor.url);
	});
}

function showPrev() {
	$.get('getPrevHumor', {id : currentHumor.id}, function(result) {
			currentHumor.id = result.id;
			currentHumor.url = result.url;
			currentHumor.title = result.title;
			$('img#humorContent').attr('src', currentHumor.url);
	});
}

function OnPrevButton(x) {
    x.style.height= "75px";
    x.style.width= "75px"; 
}

function OutPrevButton(x) {
    x.style.height="50px";
    x.style.width="50px";
} 

function OnNextButton(x) {
    x.style.height= "75px";
    x.style.width= "75px";
}

function OutNextButton(x) {
    x.style.height="50px";
    x.style.width="50px";
}
</script>
{% endblock %}
{% block content %}
<div id = "Object" class="CtrObj">
	<table>
		<tr>
			<td>
				<div id = "prevButton">	
					<img onmousemove="OnPrevButton(this)" onmouseout = "OutPrevButton(this)" onclick="showPrev()" border = "0" src = "/media/images/prev.png" alt = "Arrow" width = "50" height = "50" style = "opacity: 0.5; filter:alpha(opacity=40)">
				</div>
			</td>
			<td>
				<img src="{{ humorContent.url }}" height = "400" id="humorContent"/>
			</td>
			<td>
				<div id = "nextButton">	
					<img onmousemove="OnNextButton(this)" onmouseout = "OutNextButton(this)" onclick="showNext()" border = "0" src = "/media/images/next.png" alt = "Arrow" width = "50" height = "50" style = "opacity: 0.5; filter:alpha(opacity=40)">
				</div>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<div id="rating" class="rating_widget">
					<div class="star_1 rating_star"></div>
					<div class="star_1 rating_star"></div>
					<div class="star_1 rating_star"></div>
					<div class="star_1 rating_star"></div>
					<div class="star_1 rating_star"></div>
					<div class="total_vote">vote data will show here: </div>
				</div>
			</td>
			<td></td>
		</tr>
	</table>    	
</div>
{% endblock %}
