body { 
	     background-color: #EAEAEA;
	     -webkit-background-size: cover; 
	     -moz-background-size:cover;
	     -o-background-size:cover;
	     background-size: cover;  
}

#loginPanel{ 
		 position: 	absolute;
	     top: 		20px;
		 right: 	56px;	
}

#RememberMe { 
		 font-size: 70%;
		 position:  absolute;
}

#main_section{
		padding-top: 130px;
		padding-left:130px;
}

.LoginButton{ 
	     background-color: #EA9A90;
}
